header {
	background-color: #FFE4B5;
	padding: 20px;
	height: 45px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	/* border: 1px solid firebrick; */
	color: #444;
}

.hamburger-icon {
	width: 35px;
	height: 5px;
	background-color: #444;
	margin: 6px 0;
}

#nav-icon {
	font-size: 20px;
    cursor: pointer;
	margin-right: 20px;
    color: white;
    padding: 10px 15px;
	border: none;
	border-radius: 50%;
}

#nav-icon:hover {
	background-color: firebrick;
}

h1{
	/* margin-right: 100px;	 */
	letter-spacing: 1px;
}

