@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:700');

header {
	background-color: var(--maincolor);
	padding: 20px;
	height: 45px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: var(--textcolor);
}

#nav-icon {
	font-family: 'Libre Baskerville', serif;
	font-size: 22px;
	letter-spacing: 1px;
    cursor: pointer;
	margin-right: 20px;
    color: var(--textcolor);
    padding: 10px 15px;
	border: none;
	border-radius: 50%;
	text-decoration: none;
	background-color: var(--maincolor);
	border: 2px solid var(--textcolor);
}

#nav-icon:hover, #nav-icon:focus{
	color: var(--hovercolor);
	border-color: var(--hovercolor);
}

#nav-icon:hover {
	border: 2px solid var(--hovercolor);
}

#nav-icon:focus {
	outline: 2px solid var(--hovercolor);
}

header h1{
	margin-right: 100px;	
	letter-spacing: 1px;
}

