.search-section {
	display: flex;
	flex-direction: column;
	padding: 10px;
	text-align: center;

}

label {
	font-weight: bold;
	font-size: 1.5rem;
}

#searchbar {
	height: 2rem;
	width: 225px;
	margin-top: 10px;
	font-size: 1rem;
	align-self: center;
}

#nav-icon {
	margin-right: 20px;
	border: 1px solid aliceblue;
	padding-right: 20px;
}

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 320px;
	height: calce(100% - 99px);
	background-color: rgb(95, 90, 117);
	/* overflow-x: hidden; */
	overflow-y: auto;
	padding-top: 20px;
	transition: 0.5s;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	transition: 0.5s;
}