* {
	margin: 0;
	padding: 0;
}

#root {
	overflow: hidden;
}
.App {
	display: flex;
	justify-content: center;
	flex-direction: column;
	border: 2px solid black;

}

header {
	text-align: center;
	padding: 20px;
	height: 10%;
	width: 100%;
}
.main {
	display: flex;
	height: 90%;
	justify-content: center;
	
}
#map {
	height: 100vh;
	width: 60%;
}

.sidebar {
	width:	40%;
	height: 100vh;
	background-color: moccasin;
	border: 1px solid black;
	overflow: scroll;
}

.search-section {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

#searchbar {
	height: 2rem;
	margin-top: 10px;
	font-size: 1.5rem;
}
.infoWin {
	text-align: center;
	font-size: 18px;
}
.infoWin p:nth-child(n+2) {
	margin-top: 3px;
}
.infoTitle {
	font-weight: bold;
	font-size: 24px;
}

label {
	font-weight: bold;
	font-size: 1.5rem;
}

.listing {
	color: green;
	border: 1px solid black;
	margin: 10px;
	background-color: white;
	padding: 10px;
	/* box-shadow: 3px 3px 3px black; */
}

.hidden {
	display: none;
}

li div {
	border: 1px solid black;
	margin: 10px;
	background-color: #fff;
	padding: 20px;
}

li {
	list-style-type: none;
}
.venueName {
	font-weight: bold;
	margin-bottom: 5px;
}
