* {
	margin: 0;
	padding: 0;
}

#root {
	overflow: hidden;
}
.App {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	border: 2px solid black;

}

header {
	text-align: center;
	padding: 20px;
	
	width: 100%;
}
.main {
	display: flex;
	
}
#map {
	height: 100vh;
	width: 80%;
}

.sidebar {
	width:	40%;
	height: 100vh;
	background-color: rgb(167, 178, 187);
	border: 1px solid black;
	overflow-y: scroll;
}

.search-section {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

#searchbar {
	height: 30px;
	margin-top: 10px;
}
.infoWin {
	text-align: center;
	font-size: 18px;
}
.infoWin p:nth-child(n+2) {
	margin-top: 3px;
}
.infoTitle {
	font-weight: bold;
	font-size: 24px;
}

label {
	font-weight: bold;
}

.listing {
	color: green;
}

.hidden {
	display: none;
}

li div {
	border: 1px solid black;
	margin: 10px;
	background-color: #fff;
	padding: 20px;
}

.venueName {
	font-weight: bold;
	margin-bottom: 5px;
}
