* {
	margin: 0;
	padding: 0;
}
html, body, #root, .App, main {
	height: 100vh;
	width: 100%;
}

#root {
	overflow: hidden;
}
.App {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	background-color: aqua;
}

html {
	background-color: black;
}
.main {
	display: flex;
	height: 100%;
	justify-content: center;
	background-color: slategrey;
}
#map {
	height: calc(100vh - 80px);
	width: 100%;
}

.search-section {
	display: flex;
	flex-direction: column;
	padding: 10px;
	text-align: center;
}

#searchbar {
	height: 2rem;
	width: 225px;
	margin-top: 10px;
	font-size: 1rem;
	align-self: center;
}

.infoWin {
	text-align: center;
	font-size: 18px;
	font-weight: 400;
}

.infoWin p:nth-child(n+2) {
	margin-top: 3px;
}

.infoTitle {
	font-weight: bold;
	font-size: 24px;
}

.listing {
	color: #444;
	background-color: white;
	padding: 10px;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 200px;
	margin: 15px 0;
}

.listing img {
	padding: 10px;
}
.listing:hover {
	background-color: goldenrod;
}
.hidden {
	display: none;
}

li div {
	margin: 10px;
	background-color: #fff;
	padding: 20px;
}

li {
	list-style-type: none;
}
.venueName {
	font-weight: bold;
	margin-bottom: 3px;
}
