.hamburger-icon {
	width: 35px;
	height: 5px;
	background-color: black;
	margin: 6px 0;
}

#nav-icon {
	margin-right: 20px;
	border: 1px solid aliceblue;
	padding-right: 20px;
}

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 40%;
	height: 100%;
	background-color: rgb(95, 90, 117);
	overflow-x: hidden;
	padding-top: 20px;
	transition: 0.5s;
}

.menu-close {
	border: 1px solid black;
    text-decoration: none;
    font-size: 70px;
    margin-left: 50px;
}

#nav-icon {
	font-size: 20px;
    cursor: pointer;
    /* background-color: #111; */
    color: white;
    padding: 10px 15px;
    border: none;
}

#nav-icon:hover {
	background-color: firebrick;
}