@media screen and (max-width: 700px) {
	header h1 {
		text-align: center;
	}

	.infoTitle {
		font-size: 16px;
	}

	.infoWin {
		font-size: 14px;
	}

	.venue-listing {
		width: 200px;
	}

	.gm-style-iw {
		width: 300px;
	}
}
@media screen and (max-width: 450px) {
	.sidebar {
		width: 250px;
		top: 78px;
	}

	header h1 {
		font-size: 20px;
	}
}

@media screen and (min-width: 450px) and (max-width: 525px) {
	header h1 {
		font-size: 22px;
	}
}
@media screen and (min-width: 526px) and (max-width: 650px) {
	header h1 {
		font-size: 26px;
	}
}

@media  screen and (min-width: 1250px) {
	.sidebar {
		position: static;
		width: 323px;
		height: calc(100vh - 80px);
		overflow-y: scroll;
	}
}